body {
    font-family: dongle;
    background: #dcdcdc;
    margin: 0;
}

header {
    background: rgb(244, 116, 36);
    display: flex;
    font-size: 33px;
    justify-content: space-between;
    padding: 0 25px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

#header-title {
    text-decoration: none;
    color: #fff;
}

#logout a {
    text-decoration: none;
    color: #fff;
}

#nav-bar {
    position: fixed;
    margin-top: 48px;
    background: #d0d1d3;
    left: 0;
    display: flex;
    flex-direction: column;
    bottom: 0;
    top: 0;
    border-right: 1px solid #bdbdbd;
    z-index: 1;
}

#nav-bar a {
    text-decoration: none;
    font-size: 30px;
    line-height: 1.6;
    padding-left: 30px;
    padding-right: 30px;
    color: #000;
}

#nav-bar a:hover {
    color: #fff;
    background: #000;
}

#subject {
    margin-left: 222.15px;
    margin-top: 68px;
    display: flex;
    justify-content: space-evenly;
    font-family: calibri;
    padding-bottom: 20px;
}

#add-subject {
    background: #fff;
    width: 25%;
    border-radius: 7px;
    max-height: 271.2px;
}

.subject-title {
    font-size: 23px;
    background: #f7f7f7;
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: bold;
    text-align: center;
}

#add-subject-form {
    font-size: 17px;
    padding: 15px 20px;
    line-height: 1.5;
}

#add-subject-form form{
    display: flex;
    justify-content: center;
}

#add-subject-form select {
    width: 100%;
    height: 22px;
}

#save-btn {
    text-align: center;
}

#save-btn input {
    font-size: 17px;
    padding: 7px 25px;
    border-radius: 7px;
    border: 0;
    background: rgb(244, 116, 36);
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: calibri;
    color: #fff;
}

#subject-list {
    width: 70%;
    border-radius: 7px;
    background: #fff;
}

#subject-list form{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#subject-list form input:first-child{
    width: 300px;
    border: #d0d1d3 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

::placeholder {
    font-size: 17px;
    font-family: calibri;
    padding-left: 7px;
}

#subject-list form input:last-child{
    font-size: 17px;
    font-family: calibri;
    padding: 7px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    background: #f47424;
    color: #fff;
}

#subject-table{
    margin: auto;
    font-size: 17px; 
    border-collapse: collapse;
    margin-bottom: 20px;
}

#subject-table td{
    padding: 5px 10px;
}

#subject-table td a{
    color: blue;
}

#subject-table th{
    padding: 5px 10px;
}

